@charset "UTF-8";

div#tv-radio {
	position: relative;
	width: 900px;
	height: 580px;
	background: url("../_imagens/radio-tv.png") no-repeat; 
}

audio#musica {
	display: block;
	position: absolute;
	left: 575px;
	top: 500px;
	width: 297px;
}
video#filme {
	display: block;
	position: absolute;
	width: 450px;
	height: 400px;
	top: 5px;
	left: 80px;
}